In [ ]:
import numpy as np
import pandas as pd

S = 487.16
alpha = 0.000476237
sigma = 0.03848375542
T = 252
n = 252
dt = T / n
m = 50000
r = 0.042 / 252


def stock_price(S, alpha, sigma, T, n, dt):
    St_values = np.zeros((n + 1, m))
    Zt_values = np.zeros((n + 1, m))

    for j in range(m):
        t = np.linspace(0, T, n + 1)
        St = np.zeros(n + 1)
        St[0] = S
        Zt = np.zeros(n + 1)
        Zt[0] = 1
        e = np.random.normal(0, 1, n + 1)

        for i in range(1, n + 1):
            St[i] = St[i - 1] * np.exp((alpha - 0.5 * (sigma ** 2)) * dt + sigma * e[i - 1] * np.sqrt(dt))
            Zt[i] = Zt[i-1]*np.exp(-((alpha - r) / sigma) * e[i - 1] * np.sqrt(dt) - 0.5 * (((alpha - r) / sigma) ** 2) * dt)

        St_values[:, j] = St
        Zt_values[:, j] = Zt

    return St_values, Zt_values


St_values, Zt_values = stock_price(S, alpha, sigma, T, n, dt)

In [ ]:
columns = [f"Path_{i+1}" for i in range(m)]
index = [f"Time_{i}" for i in range(n + 1)]

df_St = pd.DataFrame(St_values, columns=columns, index=index)
df_Zt = pd.DataFrame(Zt_values, columns=columns, index=index)

In [ ]:
df_St

,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,Path_9,Path_10,...,Path_49991,Path_49992,Path_49993,Path_49994,Path_49995,Path_49996,Path_49997,Path_49998,Path_49999,Path_50000
Time_0,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,...,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000
Time_1,509.907414,478.959423,489.937756,494.314699,494.718711,484.293079,488.324823,480.018358,476.930975,497.509524,...,516.351145,505.590159,477.524475,486.730142,452.250480,476.303192,513.243658,484.943230,499.917325,510.307474
Time_2,506.413726,470.149092,501.120056,512.604322,491.779564,466.594784,480.870084,484.222823,472.720486,504.399462,...,512.537275,495.019551,464.362992,481.059493,478.364890,470.758305,545.500610,472.093240,483.231351,529.073947
Time_3,495.784097,484.031359,516.889425,553.666798,476.873937,461.129226,460.330944,505.046004,484.893294,507.142006,...,539.314836,499.561521,484.954636,477.193196,472.347965,485.910782,540.997773,497.144503,509.622734,520.487463
Time_4,500.656705,481.393216,517.228110,562.861709,482.501030,456.717656,456.928287,542.217934,516.948513,506.445198,...,545.179392,512.621127,506.193060,462.870350,455.536690,491.573253,533.199327,482.184050,485.320899,507.001619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Time_248,212.193016,670.906421,744.230946,428.809199,206.327587,598.172450,835.643400,369.569241,269.261101,430.960922,...,1558.907663,281.062471,624.415487,198.196093,541.098766,397.167300,342.222427,942.375428,408.939416,523.123351
Time_249,205.560644,639.239568,822.787264,433.703779,208.365943,628.126465,816.759875,381.586032,255.602961,426.424430,...,1516.405315,279.376029,624.017961,202.264509,508.409898,409.764599,350.765831,994.336643,418.427681,522.881496
Time_250,214.094268,649.769349,757.546861,459.677069,205.912727,633.801435,794.287358,393.636655,256.207114,426.701572,...,1538.977739,287.979425,570.755648,200.145962,521.106841,387.735638,338.379706,1058.545349,433.627254,486.759228
Time_251,215.196238,619.998778,770.160790,490.552581,209.530030,617.991518,733.717598,402.614457,263.084242,418.913003,...,1456.851478,292.236093,565.074888,210.734033,562.204591,376.303869,321.013905,1049.058697,445.618502,504.486566
Time_252,224.912852,634.917347,818.852962,496.074469,198.933539,634.274974,768.948090,401.719773,268.025077,452.730738,...,1498.342881,300.331213,558.338315,213.184868,536.357544,366.072441,324.431080,1022.626633,437.250212,516.554726

In [ ]:
df_Zt

,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,Path_9,Path_10,...,Path_49991,Path_49992,Path_49993,Path_49994,Path_49995,Path_49996,Path_49997,Path_49998,Path_49999,Path_50000
Time_0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Time_1,0.990419,1.003467,0.998725,0.996870,0.996700,1.001147,0.999413,1.003004,1.004358,0.995528,...,0.987823,0.992181,1.004097,1.000097,1.015575,1.004634,0.989070,1.000866,0.994524,0.990257
Time_2,0.991757,1.007281,0.993938,0.989241,0.997854,1.008880,1.002544,1.001089,1.006133,0.992583,...,0.989268,0.996486,1.009891,1.002462,1.003640,1.007008,0.976463,1.006412,1.001518,0.982724
Time_3,0.996077,1.001085,0.987435,0.973349,1.004207,1.011279,1.011645,0.992231,1.000712,0.991372,...,0.978708,0.994498,1.000686,1.004066,1.006211,1.000274,0.978070,0.995507,0.990361,0.986004
Time_4,0.993956,1.002141,0.987213,0.969919,1.001660,1.013224,1.013127,0.977524,0.987325,0.991570,...,0.976412,0.989061,0.991673,1.010394,1.013773,0.997767,0.980957,1.001797,1.000440,0.991343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Time_248,1.164160,0.915194,0.895565,1.004957,1.171001,0.937411,0.874138,1.036679,1.107618,1.003906,...,0.767318,1.097731,0.929035,1.180884,0.957267,1.021189,1.053472,0.852449,1.014973,0.964051
Time_249,1.171810,0.924409,0.876899,1.002488,1.168495,0.927804,0.878248,1.029678,1.119638,1.006041,...,0.771697,1.099017,0.929078,1.175776,0.969732,1.014457,1.047964,0.842865,1.010030,0.964060
Time_250,1.161787,0.921177,0.892095,0.990287,1.171288,0.925980,0.883307,1.022918,1.118988,1.005816,...,0.769250,1.091976,0.946484,1.178264,0.964661,1.026153,1.055777,0.831839,1.002437,0.978508
Time_251,1.160440,0.930170,0.888943,0.976836,1.166930,0.930801,0.897996,1.018018,1.112712,1.009609,...,0.778051,1.088536,0.948382,1.165533,0.949392,1.032501,1.067374,0.833333,0.996650,0.971134
Time_252,1.149676,0.925478,0.877548,0.974468,1.179554,0.925673,0.889158,1.018402,1.108296,0.993270,...,0.773429,1.082242,0.950679,1.162618,0.958694,1.038377,1.064921,0.837717,1.000520,0.966262

In [ ]:
St = df_St.loc['Time_252', :]
Zt = df_Zt.loc['Time_252', :]
data = pd.DataFrame([St, Zt]).T
data.columns = ['St', 'Zt']

In [ ]:
data

                     St        Zt
Path_1       224.912852  1.149676
Path_2       634.917347  0.925478
Path_3       818.852962  0.877548
Path_4       496.074469  0.974468
Path_5       198.933539  1.179554
...                 ...       ...
Path_49996   366.072441  1.038377
Path_49997   324.431080  1.064921
Path_49998  1022.626633  0.837717
Path_49999   437.250212  1.000520
Path_50000   516.554726  0.966262

[50000 rows x 2 columns]

Group by the bins to get the mean St and Zt

In [ ]:
data['group'] = data['St'].apply(lambda x: int(x // 100 + 1))
dic_st = dict(data.groupby('group')['St'].mean())
dic_zt = dict(data.groupby('group')['Zt'].mean())
dic_group_count = dict(data.groupby('group')['St'].count())

In [ ]:
data['avg_st'] = data['group'].apply(lambda x: dic_st[x])
data['avg_zt'] = data['group'].apply(lambda x: dic_zt[x])
data['probability'] = data['group'].apply(lambda x: dic_group_count[x] / len(data))
data['adj_probability'] = data['probability'] * data['avg_zt']

In [ ]:
data

,St,Zt,group,avg_st,avg_zt,probability,adj_probability
Path_1,224.912852,1.149676,3,252.307420,1.124263,0.15654,0.175992
Path_2,634.917347,0.925478,7,647.429898,0.921940,0.08360,0.077074
Path_3,818.852962,0.877548,9,846.899869,0.871522,0.04720,0.041136
Path_4,496.074469,0.974468,5,448.290984,0.995849,0.14614,0.145533
Path_5,198.933539,1.179554,2,160.275526,1.238851,0.08222,0.101858
...,...,...,...,...,...,...,...
Path_49996,366.072441,1.038377,4,349.767466,1.049214,0.16664,0.174841
Path_49997,324.431080,1.064921,4,349.767466,1.049214,0.16664,0.174841
Path_49998,1022.626633,0.837717,11,1049.206512,0.833319,0.02378,0.019816
Path_49999,437.250212,1.000520,5,448.290984,0.995849,0.14614,0.145533
Path_50000,516.554726,0.966262,6,547.776114,0.954808,0.11450,0.109326

In [ ]:
groups = data[['group', 'avg_st', 'avg_zt', 'probability', 'adj_probability']].drop_duplicates().reset_index()
groups = groups.drop(columns = ['index'])

In [ ]:
groups.head()

   group      avg_st    avg_zt  probability  adj_probability
0      3  252.307420  1.124263      0.15654         0.175992
1      7  647.429898  0.921940      0.08360         0.077074
2      9  846.899869  0.871522      0.04720         0.041136
3      5  448.290984  0.995849      0.14614         0.145533
4      2  160.275526  1.238851      0.08222         0.101858

In [ ]:
K = 500
groups['mean_option_payoff'] = groups['avg_st'].apply(lambda x: max(x - K, 0))
groups['probability_option_payoff'] = groups['adj_probability'] * groups['mean_option_payoff']

In [ ]:
groups.head()

,group,avg_st,avg_zt,probability,adj_probability,mean_option_payoff,probability_option_payoff
0,3,252.307420,1.124263,0.15654,0.175992,0.000000,0.000000
1,7,647.429898,0.921940,0.08360,0.077074,147.429898,11.363037
2,9,846.899869,0.871522,0.04720,0.041136,346.899869,14.270021
3,5,448.290984,0.995849,0.14614,0.145533,0.000000,0.000000
4,2,160.275526,1.238851,0.08222,0.101858,0.000000,0.000000

In [ ]:
sum(groups['probability_option_payoff'])

127.3806494832386

In [ ]:
from scipy import stats
import numpy as np
def black_scholes_call(S0, sigma, r, q, K, T):
    d1 = (np.log(S0 / K) + (r - q + sigma ** 2 / 2) * T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    return S0 * np.exp(-q * T) * stats.norm(0, 1).cdf(d1) - K * np.exp(-r * T) * stats.norm(0, 1).cdf(d2)
black_scholes_call(487.16, 0.69, 0.042, 0, 500, 1)

134.34088904741142