In [26]:
import pandas as pd
import numpy as np
from matplotlib import rcParams
import matplotlib.pyplot as plt

In [2]:
S = 487.16
alpha = 0.000476237
sigma = 0.03848375542
T = 252
n = 252
dt = T/n
xi = 0.006895311537
k = 0.0000959964
theta = 0.001480999432
rho = -0.1872180589
r = 0.042/252  
m = 50000

In [3]:
def stock_price(S, alpha, sigma, T, n, dt):
    St_values = np.zeros((n + 1, m))
    Zt_values = np.zeros((n + 1, m))
    
    for j in range(m):
        t = np.linspace(0, T, n+1)
        Vt = np.zeros(n+1)
        Vt[0] = sigma**2
        St = np.zeros(n+1)
        St[0] = S
        Zt = np.zeros(n+1)
        Zt[0] = 1
        e1 = np.random.normal(0, 1, n+1)
        e2 = np.random.normal(0, 1, n+1)
        dw_v= np.zeros(n+1)
    
        for i in range(1, n+1):
            dw_v[i] = rho*e1[i] + np.sqrt(1-rho)*e2[i]
            Vt[i] = Vt[i-1]*np.exp(((k*(theta-Vt[i-1])/Vt[i-1])-0.5*xi**2)*dt + xi*dw_v[i])
            St[i] = St[i-1]*np.exp((alpha-0.5*Vt[i])*dt+(Vt[i]**0.5)*e1[i]*dt)
            Zt[i] = Zt[i-1]*np.exp(-((alpha-r)/(Vt[i]**0.5))*e2[i]*dt-0.5*(((alpha-r)/(Vt[i]**0.5))**2)*dt)

        St_values[:, j] = St
        Zt_values[:, j] = Zt

    return St_values, Zt_values

St_values, Zt_values = stock_price(S, alpha, sigma, T, n, dt)

In [4]:
columns = [f"Path_{i+1}" for i in range(m)]
index = [f"Time_{i}" for i in range(n + 1)]

df_St = pd.DataFrame(St_values, columns=columns, index=index)
df_Zt = pd.DataFrame(Zt_values, columns=columns, index=index)

In [5]:
df_St

,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,Path_9,Path_10,...,Path_49991,Path_49992,Path_49993,Path_49994,Path_49995,Path_49996,Path_49997,Path_49998,Path_49999,Path_50000
Time_0,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,...,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000,487.160000
Time_1,485.786471,498.151542,477.864399,465.068249,488.046938,462.838993,490.450298,458.785432,491.449893,492.772949,...,483.433909,479.761826,458.878697,469.557288,449.899773,508.724391,503.268219,469.020594,490.888621,496.202224
Time_2,497.781155,515.094561,474.414869,456.541901,487.090328,457.647806,512.857762,436.632115,496.254108,486.524493,...,474.724553,499.830927,463.731304,467.856418,445.586189,531.949962,477.782219,513.982659,505.178696,501.909333
Time_3,545.405389,493.935780,486.002820,424.441203,487.572764,456.992260,535.229838,467.253510,502.150480,489.264515,...,469.356970,491.936296,475.314936,493.412866,433.929403,523.052251,461.187146,489.898121,483.008194,522.566072
Time_4,583.781134,479.266682,495.011934,374.408590,495.754612,450.763028,536.946838,455.389364,499.453214,487.781888,...,485.696072,482.176305,500.071743,466.070771,427.405959,501.720321,457.706980,511.101798,484.935713,519.671107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Time_248,528.978419,941.280071,307.623350,268.691197,571.238199,744.479092,1285.321709,1047.682533,415.802352,406.260401,...,508.798888,397.173393,1389.026335,210.893872,377.887971,497.239016,285.748869,115.750478,714.333757,496.919017
Time_249,514.449248,930.445477,288.404954,270.054665,594.045376,798.868545,1259.271702,1001.103308,411.419757,404.857372,...,500.148524,400.887757,1356.221457,200.982661,371.100248,475.004638,288.122490,117.825830,721.154091,502.287407
Time_250,513.265775,938.603007,291.578426,277.060219,595.934537,773.725892,1288.540803,988.000949,436.382887,386.454002,...,515.781690,366.961867,1362.375099,203.033776,354.941931,486.646830,270.312251,126.150328,774.327656,479.206840
Time_251,506.909189,960.015526,301.654055,283.683342,618.846813,790.860269,1294.609301,972.927804,401.272886,356.906727,...,496.398758,368.817158,1327.922228,207.779938,358.292889,491.155486,261.449374,132.158798,782.932789,497.314281
Time_252,491.858677,921.254530,326.743571,291.037294,626.345143,811.387600,1329.020040,957.132711,392.240580,354.161368,...,497.426796,367.702198,1312.967346,203.767842,369.572884,502.332000,272.299473,134.126474,797.088614,509.309402

In [6]:
df_Zt

,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,Path_9,Path_10,...,Path_49991,Path_49992,Path_49993,Path_49994,Path_49995,Path_49996,Path_49997,Path_49998,Path_49999,Path_50000
Time_0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Time_1,1.003369,0.998884,0.999088,1.007156,1.002609,1.001130,0.990005,0.999401,1.004235,0.998226,...,0.989155,0.997505,0.998578,1.001481,1.000824,1.003639,0.990421,0.991584,0.998100,0.995853
Time_2,0.989464,0.994933,0.997416,1.006611,1.009019,0.999099,0.987661,0.997496,1.001455,1.003359,...,0.992785,0.999166,0.998741,1.000671,1.003071,1.001147,0.988605,0.982252,1.000440,0.986792
Time_3,0.995092,0.990767,1.005488,1.001584,1.017220,1.009027,0.986864,0.988618,1.006891,1.005226,...,0.990303,0.997251,1.010657,0.997421,0.999911,0.997466,0.998644,0.986933,0.994561,0.985605
Time_4,0.996926,1.001888,1.006463,1.017767,1.015804,1.007803,0.997831,0.993862,1.008182,1.002110,...,1.004796,1.005828,1.017778,0.998896,1.001823,1.021345,1.003011,0.987523,0.987791,0.986302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Time_248,1.192677,0.905527,1.185455,1.381632,1.096770,1.025633,1.045247,0.735736,1.033977,1.032842,...,1.077064,0.798504,0.859511,1.362820,0.935411,1.051967,0.922579,0.847011,0.920950,1.155235
Time_249,1.185732,0.911415,1.192115,1.376984,1.092135,1.024464,1.054564,0.729296,1.045509,1.034483,...,1.084882,0.797426,0.850987,1.360079,0.934264,1.060119,0.923891,0.846281,0.909745,1.141220
Time_250,1.188246,0.916944,1.186687,1.383248,1.084882,1.022381,1.058428,0.734256,1.050614,1.032559,...,1.086773,0.797431,0.844802,1.376372,0.932237,1.063572,0.911234,0.849341,0.914480,1.130765
Time_251,1.183586,0.919191,1.193275,1.373481,1.076870,1.018947,1.059320,0.731979,1.049179,1.037115,...,1.087875,0.801457,0.841356,1.382331,0.946238,1.066343,0.905575,0.851447,0.924040,1.106603
Time_252,1.185152,0.913827,1.195720,1.378495,1.086990,1.011390,1.055674,0.732913,1.061626,1.038886,...,1.081738,0.803964,0.841016,1.380299,0.967588,1.077014,0.913198,0.852788,0.924597,1.094485

In [7]:
St = df_St.loc['Time_252', :]
Zt = df_Zt.loc['Time_252', :]
data = pd.DataFrame([St, Zt]).T
data.columns = ['St', 'Zt']

In [8]:
data

                    St        Zt
Path_1      491.858677  1.185152
Path_2      921.254530  0.913827
Path_3      326.743571  1.195720
Path_4      291.037294  1.378495
Path_5      626.345143  1.086990
...                ...       ...
Path_49996  502.332000  1.077014
Path_49997  272.299473  0.913198
Path_49998  134.126474  0.852788
Path_49999  797.088614  0.924597
Path_50000  509.309402  1.094485

[50000 rows x 2 columns]

Group by the bins to get the mean St and Zt

In [17]:
data['group'] = data['St'].apply(lambda x: int(x // 100 + 1))
dic_st = dict(data.groupby('group')['St'].mean())
dic_zt = dict(data.groupby('group')['Zt'].mean())
dic_group_count = dict(data.groupby('group')['St'].count())

In [18]:
data['avg_st'] = data['group'].apply(lambda x: dic_st[x])
data['avg_zt'] = data['group'].apply(lambda x: dic_zt[x])
data['probability'] = data['group'].apply(lambda x: dic_group_count[x] / len(data))
data['adj_probability'] = data['probability'] * data['avg_zt']

In [19]:
data

,St,Zt,group,avg_st,avg_zt,probability,adj_probability
Path_1,491.858677,1.185152,5,448.332856,1.011209,0.14238,0.143976
Path_2,921.254530,0.913827,10,947.460088,1.009479,0.03384,0.034161
Path_3,326.743571,1.195720,4,349.643633,1.009305,0.16698,0.168534
Path_4,291.037294,1.378495,3,251.765508,1.003367,0.15834,0.158873
Path_5,626.345143,1.086990,7,647.806346,1.013779,0.08506,0.086232
...,...,...,...,...,...,...,...
Path_49996,502.332000,1.077014,6,548.202349,1.008678,0.11560,0.116603
Path_49997,272.299473,0.913198,3,251.765508,1.003367,0.15834,0.158873
Path_49998,134.126474,0.852788,2,160.738402,0.994744,0.08446,0.084016
Path_49999,797.088614,0.924597,8,747.128693,1.007094,0.06368,0.064132
Path_50000,509.309402,1.094485,6,548.202349,1.008678,0.11560,0.116603

In [20]:
groups = data[['group', 'avg_st', 'avg_zt', 'probability', 'adj_probability']].drop_duplicates().reset_index()
groups = groups.drop(columns = ['index'])

In [21]:
groups.head()

   group      avg_st    avg_zt  probability  adj_probability
0      5  448.332856  1.011209      0.14238         0.143976
1     10  947.460088  1.009479      0.03384         0.034161
2      4  349.643633  1.009305      0.16698         0.168534
3      3  251.765508  1.003367      0.15834         0.158873
4      7  647.806346  1.013779      0.08506         0.086232

In [22]:
K = 500
groups['mean_option_payoff'] = groups['avg_st'].apply(lambda x: max(x - K, 0))
groups['probability_option_payoff'] = groups['adj_probability'] * groups['mean_option_payoff']

In [23]:
groups.head()

,group,avg_st,avg_zt,probability,adj_probability,mean_option_payoff,probability_option_payoff
0,5,448.332856,1.011209,0.14238,0.143976,0.000000,0.000000
1,10,947.460088,1.009479,0.03384,0.034161,447.460088,15.285585
2,4,349.643633,1.009305,0.16698,0.168534,0.000000,0.000000
3,3,251.765508,1.003367,0.15834,0.158873,0.000000,0.000000
4,7,647.806346,1.013779,0.08506,0.086232,147.806346,12.745643

In [28]:
sum(groups['probability_option_payoff'])

149.87289212793928